.fancyBorder {
    border-style: dashed;
    border-width: 3px;
}

.border-color-red {
    border-color: #900;
}

.border-color-blue {
    border-color: #009;
}

.border-color-grey {
    border-color: #444;
}

.border-color-green {
    border-color: #090;
}
